---
import '../styles/footer.scss';


const { title, url, author, date, image, tag, pfp } = Astro.props;
let description = Astro.props.description.substring(0, 90) + '...';
---

<div class="col">
    <div class="header">
        <div class="avatar">
            <img src={pfp} alt="avatar">
            <h2>{author}</h2>
        </div>
        <div class="filter">
            <a><i class="fa-solid fa-hashtag"></i>{tag}</a>
        </div>
    </div>
    <div class="img">
        <img src={image} alt="post image">
    </div>
    <div class="text">
        <h2>{title}</h2>
        <p>
        {description}
        </p>
    </div>
    <div class="bottom">
        <div class="date">
            <p>{date}</p>
        </div>
        <div class="read">
            <a href={url}>Read More</a>
        </div>
    </div>
</div>