---
import BaseLayout from './BaseLayout.astro';
import '../styles/post.scss';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class="container">
		<div class="second-container">
			<div class="header">
				<h1>{frontmatter.title}</h1>
				<p>{frontmatter.pubDate.slice(0,10)}</p>
			</div>
			<div class="tags">
				{frontmatter.tags.map((tag: unknown) => (
					<div class="tag">
						<i class="fa-solid fa-hashtag"></i>
						<p>{tag}</p>
					</div>
				))}
			</div>
			<p><em>{frontmatter.description}</em></p>
			<p id="author">Written by: {frontmatter.author}</p>
			<img src={frontmatter.image.url}/>
			<div class="slot">
				<slot/>
			</div>
		</div>
	</div>
</BaseLayout>
<script src="https://kit.fontawesome.com/85b199d966.js" crossorigin="anonymous"></script>